<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div> 
    
    <p style="color: #616161; padding-top: 10px">{{ _('This email has been generated automatically, please do not reply.') }}</p>

  </body>
</table>

</html>