{% extends "base.html" %}
{% block content %}    
    <span>
        {{ _('%(user_link)s created ticket %(ticket_link)s for holding %(holding_link)s', user_link=user_admin_link|safe, ticket_link=ticket_admin_link|safe, holding_link=holding_admin_link|safe) }}{% if body_text %}:{% else %}.{% endif %}
    </span>
    {% if body_text %}
    <p style='white-space: pre-line'>
        {{ body_text|trim }}
    </p>
    {% endif %}
{% endblock %}