{% extends "base.html" %}
{% block content %}
    {% if is_message_photo %}
    <span>
        {{ _('%(user_link)s replied to the ticket %(ticket_link)s with a photo', user_link=user_admin_link|safe, ticket_link=ticket_admin_link|safe) }}.
    </span>
    {% else %}
    <span>
        {{ _('%(user_link)s replied to the ticket %(ticket_link)s', user_link=user_admin_link|safe, ticket_link=ticket_admin_link|safe) }}:
    </span>
    <p style='white-space: pre-line'>
        {{ body_text|trim }}
    </p>
    {% endif %}
{% endblock %}