{% extends "base.html" %}
{% block content %}
    {% if is_message_photo %}
    <span>
        {{ _('%(user_name)s replied to the request %(ticket_link)s with a photo', user_name=user_name, ticket_link=ticket_webapp_link|safe) }}.
    </span>
    {% else %}
    <span>
        {{ _('%(user_name)s replied to the request %(ticket_link)s', user_name=user_name, ticket_link=ticket_webapp_link|safe) }}:
    </span>
    <p style='white-space: pre-line'>
        {{ body_text|trim }}
    </p>
    {% endif %}

{% endblock %}