{% extends "base.html" %}
{% block content %}
    <span>
        {{ _('%(user_name)s created ticket %(ticket_link)s', user_name=user_name, ticket_link=ticket_webapp_link|safe) }}{% if body_text %}:{% else %}.{% endif %}
    </span>
    {% if body_text %}
    <p style='white-space: pre-line'>
        {{ body_text|trim }}
    </p>
    {% endif %}
{% endblock %}