{% load i18n %}
{% load l10n %}

<style>
    {% if map_width and map_height %}#{{ id_map }} { width: {{ map_width|unlocalize }}; height: {{ map_height|unlocalize }}; }{% endif %}
    {% if not display_raw %}#{{ id_css }} { display: none; }{% endif %}
    /* Fixes for Django base.css */
    .module .leaflet-draw ul {
        margin-left: 0px;
        padding-left: 0px;
    }
    .module .leaflet-draw ul li {
        list-style-type: none;
    }
    .leaflet-control-locate > .leaflet-bar-part {
        padding-left: 0;
        padding-top: 0;
    }
    .leaflet-control-layers-list {
        max-width: 200px;
        overflow: auto;
    }

    .leaflet-control-layers-base {
        overflow: auto;
    }

    .leaflet-control-layers-overlays {
        overflow: auto;
    }

    .leaflet-control-layers-group-label {
        width: 100%;
        border-bottom: 1px solid #DDD
    }

    .leaflet-control-layers-list label {
        padding: 0 10px 0 0;
        font-size: 11px;
    }

    
</style>

<!-- svg filter to be applied on leaflet tilelayer to color ndvi png -->
<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; height: 0;">
  <defs>
    <filter id="ndvi" color-interpolation-filters="sRGB">
      <feColorMatrix type="matrix" values="1 0 0 0 0  1 0 0 0 0  1 0 0 0 0  0.5 0 0 0.5 0 " in="SourceGraphic" result="GrayToAllChannels"/>
      <feComponentTransfer in="GrayToAllChannels">
        <feFuncR type="discrete" tableValues="0 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.663 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.78 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.882 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.949 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 0.988 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.98 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.859 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.737 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.612 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.459 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.286 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0.031 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1" />
        <feFuncG type="discrete" tableValues="0 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.012 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.122 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.235 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.373 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.518 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.671 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.788 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.969 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.937 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.835 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.773 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.702 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.608 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.506 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 0.408 1" />
        <feFuncB type="discrete" tableValues="0 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.149 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.157 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.18 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.251 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.322 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.494 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.588 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.698 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.584 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.502 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.443 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.424 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.392 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.337 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.278 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 0.227 1" />
        <feFuncA type="discrete" tableValues="0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0.7" />
      </feComponentTransfer>
    </filter>
  </defs>
</svg>
  
<div id="{{ id_map }}" class="leaflet-container-default"></div>
<textarea id="{{ id_css }}" class="required django-leaflet-raw-textarea" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>

<script>
    const MAP_TILE_SERVICE_URL = '{{ map_tile_service_url }}'
    const DEFAULT_LEAFLET_SRID = '{{ default_leaflet_srid }}'
    const DEFAULT_CRS = 'EPSG' + DEFAULT_LEAFLET_SRID

    L.drawLocal.draw.toolbar.actions.title = "{% trans "Cancel drawing" %}";
    L.drawLocal.draw.toolbar.actions.text = "{% trans "Cancel" %}";
    L.drawLocal.draw.toolbar.undo.title = "{% trans "Delete last point drawn" %}";
    L.drawLocal.draw.toolbar.undo.text = "{% trans "Delete last point" %}";
    L.drawLocal.draw.toolbar.buttons.polyline = "{% trans "Draw a polyline" %}";
    L.drawLocal.draw.toolbar.buttons.polygon = "{% trans "Draw a polygon" %}";
    L.drawLocal.draw.toolbar.buttons.rectangle = "{% trans "Draw a rectangle" %}";
    L.drawLocal.draw.toolbar.buttons.circle = "{% trans "Draw a circle" %}";
    L.drawLocal.draw.toolbar.buttons.marker = "{% trans "Draw a marker" %}";
    L.drawLocal.draw.handlers.circle.tooltip.start = "{% trans "Click and drag to draw circle." %}";
    L.drawLocal.draw.handlers.marker.tooltip.start = "{% trans "Click map to place marker." %}";
    L.drawLocal.draw.handlers.polygon.tooltip.start = "{% trans "Click to start drawing shape." %}";
    L.drawLocal.draw.handlers.polygon.tooltip.cont = "{% trans "Click to continue drawing shape." %}";
    L.drawLocal.draw.handlers.polygon.tooltip.end = "{% trans "Click first point to close this shape." %}";
    L.drawLocal.draw.handlers.polyline.error = "{% trans "Error: shape edges cannot cross!" %}";
    L.drawLocal.draw.handlers.polyline.tooltip.start = "{% trans "Click to start drawing line." %}";
    L.drawLocal.draw.handlers.polyline.tooltip.cont = "{% trans "Click to continue drawing line." %}";
    L.drawLocal.draw.handlers.polyline.tooltip.end = "{% trans "Click last point to finish line." %}";
    L.drawLocal.draw.handlers.rectangle.tooltip.start = "{% trans "Click and drag to draw rectangle." %}";
    L.drawLocal.draw.handlers.simpleshape.tooltip.end = "{% trans "Release mouse to finish drawing." %}";

    L.drawLocal.edit.toolbar.actions.save.title = "{% trans "Save changes." %}";
    L.drawLocal.edit.toolbar.actions.save.text = "{% trans "Save" %}";
    L.drawLocal.edit.toolbar.actions.cancel.title = "{% trans "Cancel editing, discards all changes." %}";
    L.drawLocal.edit.toolbar.actions.cancel.text = "{% trans "Cancel" %}";
    L.drawLocal.edit.toolbar.buttons.edit = "{% trans "Edit layers" %}";
    L.drawLocal.edit.toolbar.buttons.editDisabled = "{% trans "No layers to edit." %}";
    L.drawLocal.edit.toolbar.buttons.remove = "{% trans "Delete layers" %}";
    L.drawLocal.edit.toolbar.buttons.removeDisabled = "{% trans "No layers to delete." %}";
    L.drawLocal.edit.handlers.edit.tooltip.text = "{% trans "Drag handles, or marker to edit feature." %}";
    L.drawLocal.edit.handlers.edit.tooltip.subtext = "{% trans "Click cancel to undo changes." %}";
    L.drawLocal.edit.handlers.remove.tooltip.text = "{% trans "Click on a feature to remove" %}";

    function {{ id_map_callback }}(map, options) {
        if ('{{ geom_type }}') {
            // Inject fieldstore
            (new {{ geometry_field_class }}({
                fieldid: '{{ id_css }}',
                modifiable: {{ modifiable|yesno:"true,false" }},
                geom_type: '{{ geom_type }}',
                //srid: {{ map_srid|unlocalize }},
                store_class: {{ field_store_class }},
                precision: options.djoptions.precision
            })).addTo(map);
        }
    }

    function getTileLayerUrlTemplate(layerProperties) {        
        return `${MAP_TILE_SERVICE_URL}/${layerProperties.id}_${DEFAULT_CRS}/${DEFAULT_CRS}/{z}/{x}/{y}.png`
    }

    function createLayerFromProperties(properties) {
        var layer

        if (properties.type === 'tms' || properties.type === 'wms') {
            const urlTemplate = getTileLayerUrlTemplate(properties)
            layer = L.tileLayer(urlTemplate, {
                tms: ('inverted' in properties) ? properties.inverted : false,
                opacity: 1,
                attribution: ('attribution' in properties) ? properties.attribution : '',
                minZoom: properties.minZoom || 2,
                maxZoom: properties.maxZoom || 15,
                maxNativeZoom: properties.maxNativeZoom || properties.maxZoom || 15,
                pane: properties.pane
            })
        } else if (properties.type === 'vector_tile') {
            var vectorTileLayerStyles = {}
            vectorTileLayerStyles[properties.tile_layer] = properties.style;
            layer = L.vectorGrid.protobuf(properties.url, {
                interactive: true,
                pane: properties.pane,
                vectorTileLayerStyles,
                attribution: ('attribution' in properties) ? properties.attribution : '',
            }).on('click', function (e) {
                var popupContent = ''
                Object.keys(e.layer.properties)
                    .filter(property => (property !== 'id') && (property.substr(-3) !== '_id'))
                    .forEach(property => {
                            var value = e.layer.properties[property];
                            if (typeof(value) === 'string') {
                                value = value.replace('\n', '<br>')
                            }
                            popupContent += `<div style="margin-bottom: 10px"><div style="color: #666">${property}</div><div>${value}</div></div>`
                        })
                if (popupContent) {
                    layer.bindPopup(`${popupContent}`)
                }
            });
        }
        return layer
    }

    function djoptionsToOptions(djoptions, options) {
        options.zoom = djoptions.zoom;
        options.center = djoptions.center;

        if (!isNaN(parseInt(djoptions.minzoom, 10)))
            options.minZoom = djoptions.minzoom;

        if (!isNaN(parseInt(djoptions.maxzoom, 10)))
            options.maxZoom = djoptions.maxzoom;

        if (djoptions.srid) {

            var projopts = {};

            var bbox = djoptions.tilesextent,
                maxResolution = computeMaxResolution(bbox);

            // See https://github.com/ajashton/TileCache/blob/master/tilecache/TileCache/Layer.py#L197
            var resolutions = [];
            for (var z = 0; z < 20; z++) {
                resolutions.push(maxResolution / Math.pow(2, z));
            }
            if (L.CRS['EPSG' + djoptions.srid] !== undefined) {
                var crs = L.CRS['EPSG' + djoptions.srid];
            } else {
                var crs = new L.Proj.CRS('EPSG:' + djoptions.srid,
                    proj4.defs['EPSG:' + djoptions.srid],
                    {
                        origin: [bbox[0], bbox[3]],
                        resolutions: resolutions
                    }
                );
            }
            options.crs = crs
            options.scale = src.scale
            options.continuousWorld = true

            function computeMaxResolution(bbox) {
                // See https://github.com/ajashton/TileCache/blob/master/tilecache/TileCache/Layer.py#L185-L196
                var size = 256,
                    width = bbox[2] - bbox[0],
                    height = bbox[3] - bbox[1];
                var aspect = Math.floor(Math.max(width, height) / Math.min(width, height) + 0.5);
                return Math.max(width, height) / (size * aspect);
            }
        }

        if (djoptions.extent) {
            options.bounds = L.latLngBounds([djoptions.extent[1], djoptions.extent[0]], [djoptions.extent[3], djoptions.extent[2]]).pad(0.1);
        }
    }
   
    (function () {
        var options = {
            callback: {{ id_map_callback|default:"null" }}
        }

        // Convert Django options to Leaflet options
        var djoptions = {% autoescape off %}{{ djoptions }}{% endautoescape %};
        djoptionsToOptions(djoptions, options)

        var container = L.DomUtil.get('{{ id_map }}');
        if (container._leaflet)  // Already initialized
            return;

        const map = new L.Map('{{ id_map }}', options);

        map.attributionControl.setPrefix(djoptions.attributionprefix);

        if(djoptions.static) {
            // If it is a static map (ie not a map associated to a Django form
            // field, and if an extent has been specified, force it
            if (djoptions.fitextent && djoptions.extent) {
                map.fitBounds(options.bounds);
            }
        } else {
            // This is not a static map, instantiate a Geometry editor (Leaflet draw)
            (new {{ geometry_field_class }}({
                fieldid: '{{ id_css }}',
                modifiable: {{ modifiable|yesno:"true,false" }},
                geom_type: '{{ geom_type }}',
                //srid: {{ map_srid|unlocalize }},
                store_class: {{ field_store_class }},
                precision: djoptions.precision
            })).addTo(map);
        }

        // Fullscreen
        (new L.Control.Fullscreen({
            title: {
                    'false': "{% trans "View fullscreen" %}",
                    'true': "{% trans "Exit fullscreen" %}"
                }
            })).addTo(map);

        // MiniMap
        const miniMapLayer = djoptions.base_layers.find(layer => layer.display)
        if (miniMapLayer) {
            (new L.Control.MiniMap(
                new L.TileLayer(getTileLayerUrlTemplate(miniMapLayer),
                                {minZoom: 0, maxNativeZoom: 17, maxZoom: 22, attribution: "@OpenStreetMap contributors"})
                )).addTo(map);
        }

        (L.control.locate({
            icon: 'fa fa-bullseye'
        })).addTo(map);

        // Scale
        L.control.scale({metric: true, imperial: false, position: 'bottomleft'}).addTo(map);

        // Create base layers
        var baseLayers = {}
        djoptions.base_layers.forEach(baseLayerProperties => {
            baseLayerProperties.pane = 'tilePane'
            const layer = createLayerFromProperties(baseLayerProperties)
            if (layer) {
                baseLayers[baseLayerProperties.title] = layer
                if (baseLayerProperties.display) {
                    layer.addTo(map)    
                }
            }
        })

        // Create overlays
        var overlays = {}
        djoptions.overlays.forEach(overlayProperties => {
            overlayProperties.pane = 'overlayPane'
            const layer = createLayerFromProperties(overlayProperties)
            if (layer) {
                overlays[overlayProperties.title] = layer
                if (overlayProperties.display) {
                    layer.addTo(map)    
                }
            }
        })
        
        // Register all base layers and overlays in the layers control
        map.layerscontrol = L.control.layers(baseLayers, overlays).addTo(map)
        
        // Create the RGB/NDVI control
        map.createPane('ndviRgbLayers')
        map.getPane('ndviRgbLayers').style.zIndex = 201
        const leafletFastplatform = L.control.FastSatelliteImageryCatalogue({
            mode: 'rgb',
            enabled: false,
            catalogueURL: '{{ api_fastplatform_public_url|escapejs }}',
            catalogueGraphQLQuery: '{{ catalogue_graphql_query|escapejs }}',
            catalogueHTTPAuthorization: 'Staff {{ p_session_key }}',
            uuid: performance.now().toString().replace('.', '-'),
            pane: 'ndviRgbLayers',
            texts: {
                NoImages: "{% trans "No images for this area" %}",
                less: "{% trans "less" %}",
                more: "{% trans "more" %}",
                Vegetation: "{% trans "Vegetation" %}",
                rgbNdviAttribution: "{{ rgb_ndvi_attribution }}"
            }
        }).addTo(map)

        
    })();
</script>
