.dashboard #content {
    width: 800px;
}

div#content-main figure.figure-docs {
  display: table;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
}

div#content-main figure.figure-docs img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#content-main figure.figure-docs figcaption {
  width: 100%;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  font-size: 12px;
}

div#content-main img.img-docs {
  max-width: 95%;
  display: block;
  border: 1px solid #eee;
}

div#content-main li>img.img-docs {
  margin: 0.5em auto;
}

div#content-main :not(li)>img.img-docs {
  margin: 1.5em auto;
}

div#content-main figure.img-docs img[title]::after {
  content: attr(title);
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2;
}

div#content-main img.uml {
  max-width: 95%;
  display: block;
  margin: 1.5em auto;
  padding: 10px;
  border: 1px solid #EEE;
}

div#content-main h1 {
  margin-top: 0.8em;
  margin-bottom: 2em;
  font-size: 24px;
}

div#content-main h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 20px;
}

div#content-main h3 {
  margin-top: 2em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
  font-size: 17px;
  color: #222;
}

div#content-main h4 {
  margin-top: 2em;
  margin-bottom: 0.4em;
  font-size: 14px;
  border-bottom: 1px solid #666;
}

div#content-main h5 {
  margin-top: 2em;
  margin-bottom: 0.4em;
  font-size: 13px;
}

div#content-main blockquote {
  font-size: 14px;
}

div#content-main b.match {
    color: #0899D4;
    font-weight: normal;
}

div#content-main code {
  display:inline-block;
  background-color: #EEE;
  color: #333;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

div#content-main kbd {
  display:inline-block;
  white-space: nowrap;
  font-family: inherit;
  border: 1px solid #333;
  color: #333;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.module.search {
  margin-bottom: 16px;
}

.module.search > form.search {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  width: calc(100% - 2 * 16px);
}

form.search > input[type="text"] {
  width: calc(100% - 16px);
}

.module.toc > div.toc {
  padding-left: 16px;
  padding-right: 16px;
}

div.toc ul {
    margin-top: 0;
    margin-bottom: 0;
}

.module.toc ul {
  margin-left: 0.8em;
}

x::before {
  content: '';
  display: inline-block;
  background-color: #05668D;
  width: 3px;
  height: 6px;
  margin: 0 2px 2px 2px;
}
