{% extends "admin/login.html" %}
{% load i18n static custom_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block content %}

{% if messages %}
<ul class="errornote">
    {% for message in messages %}
    <li style="list-style: none;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
  <div style="padding-bottom: 20px; border-bottom: 1px solid rgb(232, 232, 232);">
    <div style="line-height: 2em; margin-bottom: 4px;">
      {% trans 'You have been authenticated as'%}:
    </div>
    <div style="line-height: 2em; width: 100%; text-align: center;">
      <b>{% if user.name %}{{ user.name }} ({{ user.username }}){% else %}{{ user.username }}{% endif %}</b>
    </div>
  </div>
  
  <div style="margin: 20px 0;">
    {% trans 'Please choose where to go next:' %}
  </div>

  <div style="margin-top: 20px; ">
    <a href="{{ web_app_url }}" class="button" style="display: block; padding: 10px 15px; text-align: center; text-transform: uppercase; font-size: 13px;">{% trans 'Farmer mobile application' %}</a>
  </div>

  <div style="margin-top: 20px;">
    {% if user.is_staff %}
      <a href="{% url 'admin:index' %}" class="button" style="display: block; padding: 10px 15px; text-align: center; text-transform: uppercase; font-size: 13px;">{% trans 'Administration Portal' %}</a>
    {% else %}
      <span class="button" style="display: block; background-color: #CCC; width: auto; text-transform: uppercase; font-size: 13px; text-align: center;">{% trans 'Administration Portal' %}</span>
      <small style="display: block; color: #666; margin-top: 20px;">{% blocktrans %}You do not have the required status and permissions to access the Administration Portal. If you think you should be granted access, please contact your <a href="mailto:{{ local_support_email_address }}">local support</a>.{% endblocktrans %}</small>
    {% endif %}
  </div>

  <div style="line-height: 1.5em; width: 100%; margin-top: 20px; text-align: center;">
    {% trans 'Wrong user?' %} <a href="{% url 'authentication:logout' %}{% if request.GET.next %}?next={{ request.GET.next|as_absolute_url:request|urlencode }}{% endif %}">{% blocktrans %}Log out</a> and log in with a different user.{% endblocktrans %}
  </div>
  
{% else %}

  <div style="display: block; line-height: 2em; margin-bottom: 10px;">
    {% trans 'Choose your login method' %}:
  </div>

  {% for federated_provider in federated_providers %}
    <style>
      #{{ federated_provider.id }}-connector {
        display: block;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: {{ federated_provider.background_color|default_if_none:"#DDDDDD" }} !important;
        color: {{ federated_provider.text_color|default_if_none:"#333333" }} !important;
        border: 1px solid #00000011;
        text-decoration: none;
      }
      #{{ federated_provider.id }}-connector:hover, #{{ federated_provider.id }}-connector:active {
        filter: opacity(0.8);
      }
    </style>
    <a href="{{ federated_provider.url }}{% if request.GET.next %}?next={{ request.GET.next|as_absolute_url:request|urlencode }}{% endif %}"
        id="{{ federated_provider.id }}-connector">
      {% if federated_provider.logo %}
        <img src="{{ federated_provider.logo.url }}" height="50" style="display: block; margin-bottom: 10px;"/>
      {% endif %}
      {% if federated_provider.name %}
      <h2>
          {{ federated_provider.name }}
      </h2>
      {% endif %}
      {% if federated_provider.description %}
        <h3 style="margin-top: 5px; font-weight: normal; opacity: 0.7; font-size: 12px; color: inherit;">
          {{ federated_provider.description }}
        </h3>
      {% endif %}
    </a>
  {% endfor %}
  {% if display_fastplatform_connector %}
    <style>
      #fastplatform-connector {
        display: block;
        border-radius: 4px;
        padding: 20px;
        background-color: var(--admin-interface-header-background-color) !important;
        color: #FFFFFF !important;
        border: 1px solid #00000011;
        text-decoration: none;
      }
      #fastplatform-connector:hover, #fastplatform-connector:active {
        filter: opacity(0.8);
      }
    </style>
    <a href="{% url 'authentication:login' %}{% if request.GET.next %}?next={{ request.GET.next|as_absolute_url:request|urlencode }}{% endif %}"
        id="fastplatform-connector">
      <img src="{% static "authentication/img/logo.svg" %}" height="50" style="display: block; margin-bottom: 10px;"/>
      <h2>FaST</h2>
      <h3 style="margin-top: 5px; font-weight: normal; opacity: 0.7; font-size: 12px; color: inherit;">
        {% trans 'For administrators and test users' %}
      </h3>
    </a>
  {% else %}
    {% if not force_authentication %}
      <div style="list-style: none !important; padding: 0; max-width: 250px; margin: auto; text-align: center; margin-top: 20px;">
        <a href="{% url 'authentication:index' %}" style="text-decoration: underline;">{% trans 'Display more login methods' %}</a>
      </div>
    {% endif %}
  {% endif %}

{% endif %}

</div>

{% if force_authentication %} 
  <script type="text/javascript">
    {% with federated_providers|first as federated_provider %}
      window.location.href = $( "#{{ federated_provider.id }}-connector").attr('href')
    {% endwith %}
  </script>
{% endif%}

{% endblock %}
