{% extends "admin/login.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">
  <p>
    {% blocktrans %}User <b>{{ username }}</b> has been locked out due to too many failed login attempts.{% endblocktrans %}
  </p>
  <p>
    Try again later.
  </p>
  <p>
    <a href="{% url 'admin:login' %}">{% trans "Go back" %}</a>
  </p>
</div>

{% endblock %}