{% load custom_tags static i18n %}

<div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a>
    {% for item in breadcrumbs %}
        &rsaquo;
        {% if item.url%}
            <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
            <span>{{ item.title }}</span>
        {% endif%}
    {% endfor %}
</div>