{% extends "admin/base_site.html" %}
{% load custom_tags static i18n %}

{% block title %}{% if page_title %}{{ page_title }}{% endif %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "docs/css/docs.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "docs/css/pygments.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
    {% include "docs/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
{{ markdown_content | safe }}
</div>
{% endblock %}

{% block sidebar %}
    {% include "docs/sidebar.html" %}
{% endblock %}