{% load custom_tags static i18n %}

<div id="content-related">
    <div class="module search">
        <form class="search" action="/docs/search/" method="GET">
            <input type="text" name="q" placeholder="{% trans "Search docs..." %}" value="{{ q }}">
        </form>
    </div>
    {% if markdown_toc %}
    <div class="module toc">
        {{ markdown_toc }}
    </div>
    {% endif %}
    {% if toc %}
    <div class="module toc">
        <h2>{% trans 'See also' %}</h2>
        <div class="toc">
            <ul>
            {% for toc_item in toc %}
                {% if toc_item.diff < 0 %}
                    <ul>
                {% elif toc_item.diff > 0 %}
                    </ul>
                {% endif %}
                <li>
                    {% if toc_item.url == current_url %}
                        <span>{{ toc_item.title }} {% if request.LANGUAGE_CODE != toc_item.language_code %}[{{ toc_item.language_code }}]{% endif %}</span>
                    {% else %}
                        <a href="{{ toc_item.url }}">{{ toc_item.title }} {% if request.LANGUAGE_CODE != toc_item.language_code %}[{{ toc_item.language_code }}]{% endif %}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>