{% load i18n static %}

<fieldset id="permissions-fieldset" class="collapse">

<h2 id="permissions-summary">
    <img src="{% static "admin/img/icon-viewlink.svg" %}" class="force-visible" /> <span id="user_view_permissions_count" class="force-visible">{{ user_view_permissions_count }}</span> |
    <img src="{% static "admin/img/icon-addlink.svg" %}" class="force-visible"/> <span id="user_add_permissions_count" class="force-visible">{{ user_add_permissions_count }}</span> |
    <img src="{% static "admin/img/icon-changelink.svg" %}" class="force-visible"/> <span id="user_change_permissions_count" class="force-visible">{{ user_change_permissions_count }}</span> |
    <img src="{% static "admin/img/icon-deletelink.svg" %}" class="force-visible"/> <span id="user_delete_permissions_count" class="force-visible">{{ user_delete_permissions_count }}</span> |
    <img src="{% static "admin/img/icon-unknown.svg" %}" class="force-visible"/> <span id="user_custom_permissions_count" class="force-visible">{{ user_custom_permissions_count }}</span>
</h2>

<table id="tabular_permissions" class="table table-condensed table-striped table-hover" cellspacing="0" width="100%"
       data-input-name="{{ input_name }}">
    <thead>
        <tr>
            <th> {% trans 'Domain'|capfirst %}</th>
            <th>{% trans 'object'|capfirst %}</th>
            <th style="width: 80px;">
                <input type="checkbox" class="checkbox select-all view"
                    id="perm_view_select_all"><img src="{% static "admin/img/icon-viewlink.svg" %}" />
                {% trans 'View' %}
            </th>
            <th style="width: 80px;">
                <input type="checkbox" class="checkbox select-all add"
                    id="perm_add_select_all"><img src="{% static "admin/img/icon-addlink.svg" %}" />
                {% trans 'Add' %}
            </th>
            <th style="width: 80px;">
                <input type="checkbox" class="checkbox select-all change"
                    id="perm_change_select_all"><img src="{% static "admin/img/icon-changelink.svg" %}" />
                {% trans 'Change' %}
            </th>
            <th style="width: 80px;">
                <input type="checkbox" class="checkbox select-all delete"
                    id="perm_delete_select_all"><img src="{% static "admin/img/icon-deletelink.svg" %}" />
                {% trans 'Delete' %}
            </th>
            {% if custom_permissions_available %}
                <th>
                    {% trans 'other permissions'|capfirst %}
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for app in apps_available.values %}

        {% for model in app.models.values %}

            <tr class="{% cycle 'row1' 'row2' %}">

                {% if forloop.counter0 == 0 %}
                    <td rowspan="{{ app.models|length }}" class="app-name"
                        data-app-name="{{ app.label }}">{{ app.verbose_name|capfirst }}
                    </td>
                {% endif %}
                <td>
                    <input type="checkbox" class="checkbox select-all select-row"
                            data-model-name="{{ model.model_name }}">
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}" title="{{ model.tooltip }}">{{ model.verbose_name|capfirst|truncatechars:"80" }}{% if model.tooltip %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}"/>{% endif %}</a>
                    {% else %}
                        <span title="{{ model.tooltip }}">{{ model.verbose_name|capfirst|truncatechars:"80" }}{% if model.tooltip %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}"/>{% endif %}</span>
                    {% endif %}
                </td>
                <td class="view">
                    {% if model.view_perm_id %}
                        <input type="checkbox" class="checkbox view model-{{ model.model_name }}"
                                id="id_{{ model.app_label }}_{{ model.label }}_{{ model.view_perm_name }}" data-perm-id="{{ model.view_perm_id }}"
                                {% if model.view_perm_id in user_permissions %}
                                checked="checked"
                                {% endif %}><img src="{% static "admin/img/icon-viewlink.svg" %}" />
                    {% endif %}
                </td>
                <td class="add">
                    {% if model.add_perm_id %}
                        <input type="checkbox" class="checkbox add model-{{ model.model_name }}"
                            id="id_{{ model.app_label }}_{{ model.label }}_{{ model.add_perm_name }}" data-perm-id="{{ model.add_perm_id }}"
                            {% if model.add_perm_id in user_permissions %}
                            checked="checked"
                            {% endif %}><img src="{% static "admin/img/icon-addlink.svg" %}" />
                        
                    {% endif %}
                </td>
                <td class="change">
                    {% if model.change_perm_id %}
                        <input type="checkbox" class="checkbox change model-{{ model.model_name }}"
                                id="id_{{ model.app_label }}_{{ model.label }}_{{ model.change_perm_name }}" data-perm-id="{{ model.change_perm_id }}"
                                {% if model.change_perm_id in user_permissions %}
                                checked="checked"
                                {% endif %}><img src="{% static "admin/img/icon-changelink.svg" %}" />
                    {% endif %}
                </td>
                <td class="delete">
                {% if model.delete_perm_id %}
                    <input type="checkbox" class="checkbox delete model-{{ model.model_name }}"
                            id="id_{{ model.app_label }}_{{ model.label }}_{{ model.delete_perm_name }}" data-perm-id="{{ model.delete_perm_id }}"
                            {% if model.delete_perm_id in user_permissions %}
                            checked="checked"
                            {% endif %}><img src="{% static "admin/img/icon-deletelink.svg" %}" />
                {% endif %}
                </td>
            {% if custom_permissions_available %}
                <td class="custom">
                    {% for custom_permission in model.custom_permissions %}
                        <div class="input ">
                            <input type="checkbox" class="checkbox custom model-{{ model.model_name }}"
                                    id="id_{{ model.app_label }}_{{ model.label }}_{{ custom_permission.0 }}" data-perm-id="{{ custom_permission.2 }}"
                                    {% if custom_permission.2 in user_permissions %}
                                    checked="checked"
                                    {% endif %}>
                            {{ custom_permission.1 }}
                        </div>
                    {% endfor %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        {% if app.models %}
            <tr>
                <td colspan="{{ colspan }}" class="user-permissions-app-separator"></td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>
</fieldset>

{% block style %}
    {#    Seems a waste to request those couple of sad lines from the server as separate css file #}
    <style>
        {% comment %} .user-permissions-app-separator {
            border-bottom: 1px solid black;
        }

        .app-name {
            border-right: 1px black solid;
        } {% endcomment %}

        {% comment %} [dir=rtl] .app-name {
            border-left: 1px black solid;
            border-right: initial;
        } {% endcomment %}

        #permissions-summary {
            background-color: #CCC !important;
        }

        #permissions-fieldset ~ hr {
            display: none;
        }

        #tabular_permissions {
            margin-top: 8px;
        }

        .select-all {
            position: relative;
            top: -2px;
        }

        .checkbox {
            margin-right: 6px;
        }

        .force-visible {
            display: inline !important
        }

    </style>
{% endblock %}