tbody > tr.has_original > td.original > p:first-of-type {
  display: none;
}

.djn-items.inline-related > tbody > tr > td.djn-td {
  padding-top: 8px;
}
.djn-item.inline-related {
  padding-top: 16px;
}

fieldset fieldset h2 {
  background-color: #a5be00 !important;
}

.module.danger-zone > h2 {
  background-color: #BF0010 !important;
}

.inline-group h2 {
  text-transform: none !important;
}

.inline-group .tabular tr td {
  vertical-align: top !important;
}

.inline-group .tabular tr.has_original td {
  padding-top: 8px !important;
}

.module .description {
  margin: 6px !important;
  background-color: #f8f8f8 !important;
  border: 1px solid #eee !important;
  padding: 6px !important;
  color: #666 !important;
}

h1#site-name {
  white-space: nowrap;
}

h1#site-name > img.logo {
  margin-right: 10px !important;
}

div#user-tools {
  line-height: 32px;
}

div#user-tools div.language-chooser select {
  background-color: transparent !important;
  color: white !important;
  border-color: transparent !important;
  padding: 3px !important;
  font-size: 11px !important;
}

.linkLink {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-image: url(/static/fastplatform/img/icon-linklink.svg);
  background-position: 0px 1px;
  background-repeat: no-repeat;
  padding-left: 18px;
}
