<div style="font-family: arial, sans-serif; width: 100%; margin-right: 0.3in; margin-left: 0.3in; padding-bottom: 4px; font-size: 8px; border-bottom: 1px solid #e9e9e9;">
  <div style="display: flex; flex-wrap: nowrap; align-items: center; width: 100%;">
    <div style="display: flex; align-items: center;">
      <div style="width: 1.5em; height: auto;">{{ fast_logo|safe }}</div>
      <div style="margin-left: 8px;">FaST</div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 36px;">
      <div style="width: 1.5em; height: auto;">{{ european_commission_logo|safe }}</div>
      <div style="margin-left: 8px; word-break: keep-all; white-space: nowrap;">{{ european_commission_name }}</div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 36px;">
      <div style="width: 1.5em; height: auto;">{{ region_logo|safe }}</div>
      <div style="margin-left: 8px;">{{ region_name }}</div>
    </div>
  </div>
</div>