{% extends "admin/base_site.html" %} 
{% load custom_tags static i18n %}

{% block extrastyle %}

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fastplatform/css/fastplatform.css" %}" />

<style>
div#header div#user-tools::after {
  content: "- Version: {% get_setting "VERSION" %}" !important;
  color: rgba(255, 255, 255, 0.5);
}
</style>
{% endblock %}

{% block userlinks %}
{{ block.super }} / 
<a href="{% url 'docs:index' %}">{% trans 'Documentation' %}</a>
{% endblock %}