{% extends "admin/change_list.html" %}

{% block pretitle %}
{% if cl.opts.help_text %}
<div class="module">
    <div class="description">{{ cl.opts.help_text }}</div>
</div>
{% endif %}
{% endblock %}