.leaflet-control-layers-list label {
    float: none !important;
    width: auto !important;
    line-height: inherit !important;
}

.leaflet-control-layers-list label::after {
    display: none !important;
}

.leaflet-control-layers-base {
    padding-bottom: 2px;
}

.leaflet-control > .leaflet-control-scale-line {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
  }