{% load i18n %}

<p>
  {% trans "A broacast is initially saved as DRAFT status." %}
  {% trans "Then you can edit it to either cancel it (CANCELED status), or send it by pressing the top-right Send button." %}
  {% trans "The status will then become SENDING and, in the end, either SENT or FAILED (if there was an issue)." %}
</p>
<p>
  <strong>
    {% trans "Note: users from the app can only see broadcasts with the SENT status." %}
  </strong>
</p>
